 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;

 }

 nav {
     display: flex;
     background-color: mediumblue;
     align-items: center;
     justify-content: space-around;
     padding: 10px;
     font-size: 23px;
     flex-wrap: wrap;
 }

 nav ul {
     display: flex;
     list-style: none;
     gap: 15px;
     align-items: center;
     font-size: 23px;
 }

 .section_1 {
     display: flex;
     justify-content: space-around;
     background-color: lightgray;
     align-items: center;
     padding: 90px;
 }

 h1 {
     font-size: 35px;
 }

 section ul {
     display: flex;
     list-style: none;
     gap: 4px;
     align-items: center;
     font-size: 14px;
 }

 .section_2 {
     display: flex;
     justify-content: center;
     margin: 0px 0px 0px 0px;
     flex-wrap: wrap;


 }

 article {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 30px;
     font-weight: 500;
 }

 section article {
     width: 200px;
     height: 200px;
     background-color: aquamarine;
 }

 .art_1 {
     background-color: violet;
 }

 .art_2 {
     background-color: mediumvioletred;
 }

 .art_3 {
     background-color: lightskyblue;
 }

 .art_4 {
     background-color: aquamarine;
 }

 .art_5 {
     background-color: orange;
 }

 .section_3 {
     display: flex;
     justify-content: center;
     margin: 0px 0px 0px 0px;
     flex-wrap: wrap;


 }

 footer {
     display: flex;
     justify-content: center;
     margin: 0px 0px 0px 0px;
     flex-wrap: wrap;
     padding: 0px
 }

 .art_6 {
     background-color: blue;
     width: 200px;
     height: 200px;
 }

 .art_7 {
     background-color: lightgray;
     width: 200px;
     height: 200px;
     flex-grow: 15;
 }

 .art_8 {
     background-color: blue;
     width: 200px;
     height: 200px;
 }