.maincomponent1 {
    color: darkmagenta;
    background-color: darkgoldenrod;
    padding: 15px;
    width: 20vw;

}

.maincomponent2, p#d {
    color: red;
    background-color: aquamarine;
    width: 50vw;
    padding: 20px;

}
caption {
    color: darkblue;
}

.thead {
    background-color: azure;
}

.tbody {

   background-color: lightslategray;
}
