* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(166, 200, 200);
    padding: 10px;
    font-size: 21px;
}

nav ul {
    display: flex;
    /* flex-direction: row-reverse; */
    list-style: none;
    gap: 15px;
    flex-wrap: wrap;
}

nav button {
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

section {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 30px 0px;
    flex-wrap: wrap;
    gap: 20px;
}

section article {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
 
}
.art-6 {
    flex-grow: 10;
    order: 6;
}
article {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}