/* .first-sen {
    color: chartreuse;
}

#name {
    color: blue;
} */

.main-component {
    color: green;
    background-color: black;
    padding: 10px;
    width: 50vw;
}


.main-component2 {
    color: red;
    background-color: blue;
}