.elements-container-style{
 border: 1px solid wheat;
 border-radius: 15px;
 padding: 20px;
 margin: 20px 0;
}
#elements-container h1{
    background-color: purple;
    border-radius: 15px;
    color:white ;
    padding: 10px;

}