* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    padding: 100px;
}


.sec_1 img {
    border: 5px;
    border-radius: 90%;
    border-color: yellow;
}

.sec_2 img {
    float: left;
    margin-right: 20px;
}

.sec_2 .span_1 {
    color: yellow;
}

.sec_2 .span_2 {
    color: yellow;
}

.sec_2 .span_3 {
    color: yellow;
}

.sec_2 {
    margin-top: 30px;
    background-color: white;
    border: 5px;
    border-color: gray;
    padding: 30px;
}

.div_1 {
    justify-items: center;
    flex-grow: 30px;
}

.schedule {
    border-bottom: 5px solid yellow;
    padding-bottom: 9px;
    color: gray;
}

table {
    width: 100%;
    border: 2px solid green;
}

table thead {
    background-color: green;
    color: white;
}

table thead th {
    padding: 15px;
}

table tbody {
    background-color: white;
}

table tbody tr td {
    border: 1px solid green;
    padding: 18px;
}

.schedule_2 {
    border-bottom: 5px solid yellow;
    padding-bottom: 9px;
    color: gray;
}

form button {
    color: white;
    margin-left: 14px;
    background-color: green;
    padding: 13px;
}

label {
    display: block;
    margin-left: 14px;
}

form {
    background-color: white;
}

input {
    margin-left: 14px;
    width: 500px;
    margin-top: 7px;
    height: 30px;
}

.schedule_3 {
    border-bottom: 5px solid yellow;
    padding-bottom: 9px;
    color: gray;
}

.div_bolo div .span_bolo h3 {
    border-bottom: 6px solid white;
    color: gray;
    margin-top: 20px;
}

.div_bolo div img {
    height: 40px;
    width: 40px;
    border: 4px;
    border-radius: 40%;
}

.div_bolo div span {
    color: white;
}

.div_bolo div {
    margin-left: 20px;
    margin-top: 13px;
}

.div_bolo {
    background-color: black;
    height: 290px
}